$size__site-main: 100%;
$size__site-sidebar: 25%;
$media-desktop-large: 1600px;
$media-desktop: 1440px;
$media-medium-desktop: 1300px;
$media-extra-large: 1199px;
$media-large: 991px;
$media-small: 768px;
$media-extra-small: 575px;